# requirements-dev.txt
unstructured[pdf] @ git+https://github.com/clarifai/unstructured.git@support_clarifai_model
pdfminer.six==20251230
llama-index-core==0.13.0
llama-index-llms-clarifai==0.5.0
pi_heif==0.18.0
markdown==3.8.1
python-docx==1.1.2
schema==0.7.5
